.scriptolution-jobsbyuser{font-size:30px;font-weight:700;color:#333;font-family:Arial,Helvetica,sans-serif;padding-bottom:0}
.userbanner{background:url(../images/scriptolution_user_banner.jpg) no-repeat center top;height:350px}
.usertopnavbg{background-color:#fff;border-radius:5px 5px 0 0;height:55px;left:0;position:absolute;top:302px;width:1010px}
.userbannertext{padding-top:68px}
.userbannertext h3{font-size:50px;font-weight:400;text-align:center;letter-spacing:-.5px;color:#fff;text-shadow:1px 1px #817F80;font-family:'latobold'}
.userbannertext h2{font-size:26px;line-height:38px;font-family:'Arial, Helvetica, sans-serif';text-shadow:1px 1px #817F80;font-weight:400;text-align:center;color:#fff;padding-bottom:18px}
.find-userrating{padding:5px;border-radius:5px;-webkit-border-radius:5px;width:502px;margin:auto;text-align:center}
.profile-image {margin-top:-120px !important;}
.profile-image img{border-radius:50%;}
.paddinguser20{padding:20px}
.pfloatleft{float:left;width:60%;font-size:14px;font:400 16px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif}
.otherinfo{color:#666;font-size:14px;font:400 16px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif;width:35%;float:right}
.scriptolutionuserreviews{width:650px;float:left}
.scriptolutionuserreviews>a{border:1px #e5e5e5 solid;display:inline-block;width:600px;padding:20px;margin:0 0 20px 30px;border-radius:5px;background-color:#f7f7f7}
.review-image img{border-radius:50%;float:left;margin-right:20px;padding-bottom:25px}
.reviewinfo{color:#383838;font-size:14px;font:400 18px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif}
.reviewinfo .usercolorit{color:#13A0BA;font-size:14px;font:400 14px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif}