	<div class="footer">
        <p class="bug-report">
    	<a href="http://www.fiverrscript.com" target="_blank" id="footer_bug_tracking">Powered by Fiverr Script v{$ver}</a>
    	</p>

        <p class="legality">
            Copyright &copy; 2015 FiverrScript.com<br />
            All Rights Reserved.
        </p>
        
	</div>

</div>

</body>
</html>
