<script src="{$baseurl}/js/jquery.qtip-1.0.0-rc3.js" type="text/javascript"></script> 
<script src="{$baseurl}/js/jquery.corner.js" type="text/javascript"></script> 
<script src="{$baseurl}/js/balance.js" type="text/javascript"></script>
{include file="scriptolution_error7.tpl"}
<div class="bodybg scriptolutionpaddingtop15">
	<div class="whitebody scriptolutionpaddingtop30 gray">
		<div class="inner-wrapper">
			<div class="clear"></div>
			<div class="left-side">
				<div class="whiteBox twoHalfs padding15 scriptolutionshop">
                    <h1>{$lang208}</h1>
                    <h4>{$lang206}</h4>
                    
                    
                    {insert name=wdreq value=a assign=wreqnt}       
                    {if $afunds ne "0"}
                    {if $wreqnt eq "0"}
                    <form name="wdfrm" id="wdfrm" method="post" style="padding:0; margin:0">
                    <input type="hidden" name="wdfunds" value="1" />
                    </form>
                    <form name="wdfrm2" id="wdfrm2" method="post" style="padding:0; margin:0">
                    <input type="hidden" name="wdfunds2" value="1" />
                    </form>
                    <form name="wdfrm3" id="wdfrm3" method="post" style="padding:0; margin:0">
                    <input type="hidden" name="wdfunds3" value="1" />
                    </form>
                    {/if}
                    {/if}
                    {literal}
					<script language="javascript" type="text/javascript">
                    function toggle(obj) {
                        var el = document.getElementById(obj);
                        if ( el.style.display != 'none' ) {
                            $('#' + obj).slideUp();
                        }
                        else {
                            $('#' + obj).slideDown();
                        }
                    }
                    </script>
                    <style>
                    .info2{border:1px solid #DCDCCA;background:#DCDCCA;border-bottom:1px solid #CCCCBA!important;color:#5C5C5A;font-weight:bold;text-shadow:none;margin:0 0 10px;padding:10px 10px 10px 13px;}
                    .info2{border:1px solid #E4ECEE;background:#E4ECEE;color:#577;font-weight:bold;text-shadow:#eff 1px 1px;border-bottom:1px solid #D4DCDE!important;margin:0 0 10px;}
                    .info2{overflow:hidden;margin:0!important;padding:5px 5px 5px 13px;}
                    .info2 span.right{float:right;background:#008dcd;border:1px solid #bcc;padding:4px 6px;}
                    .info2 span.right a{text-decoration:none;text-shadow:none;color:#fff;}
                    .info2 span.right:hover a{color:#008dcd;}
                    .info2 span.right:hover{background:#fff;border:1px solid #008dcd;padding:4px 6px;}
                    .info2 span.right2{float:right;background:#390;border:1px solid #bcc;padding:4px 6px;margin-left:5px;}
                    .info2 span.right2 a{text-decoration:none;text-shadow:none;color:#fff;}
                    .info2 span.right2:hover a{color:#390;}
                    .info2 span.right2:hover{background:#fff;border:1px solid #390;padding:4px 6px;}
                    .info2 span.right em{font-style:normal;}
                    .info2 span.right.disabled{background:#fafafa;border:1px solid #dadada;cursor:text!important;padding:4px 6px;}
                    .info2 span.right.disabled a{cursor:text!important;color:#aaa;}
                    .info2 span.right.disabled:hover{border:1px solid #dadada!important;}										
					.scriptolutionshop .whiteBox.inside .block.inside {
					  width: 227px !important;
					}
					.block.inside .number {
					  font-size: 50px !important;
					}
					.whiteBox.inside {
					  margin-bottom: -6px !important;
					}
					.block .biggdescr {
					  float: left;
					  width: 100%;
					  text-align: center;
					  font-size: 16px;
					  color: #049bcf;
					}
					.info{color:#5C5C5A;font-weight:bold;text-shadow:none;margin:0 0 10px;padding:10px 10px 10px 13px; width:220px;float: right;}
                    .info{color:#577;font-weight:bold;text-shadow:#eff 1px 1px;margin:0 0 10px;}
                    .info{overflow:hidden;margin:0!important;padding:5px 5px 5px 13px;}
                    .info span.right{float:right;background:#008dcd;border:1px solid #bcc;padding:4px 6px;}
                    .info span.right a{text-decoration:none;text-shadow:none;color:#fff;}
                    .info span.right:hover a{color:#008dcd;}
                    .info span.right:hover{background:#fff;border:1px solid #008dcd;padding:4px 6px;}
                    .info span.right2{float:right;background:#390;border:1px solid #bcc;padding:4px 6px;margin-left:5px;}
                    .info span.right2 a{text-decoration:none;text-shadow:none;color:#fff;}
                    .info span.right2:hover a{color:#390;}
                    .info span.right2:hover{background:#fff;border:1px solid #390;padding:4px 6px;}
					.info2 span.right3{float:right;background:#F90;border:1px solid #bcc;padding:4px 6px;margin-left:5px;}
					.info2 span.right3 a{text-decoration:none;text-shadow:none;color:#fff;}
					.info2 span.right3:hover a{color:#F90;}
					.info2 span.right3:hover{background:#fff;border:1px solid #F90;padding:4px 6px;}
                    .info span.right em{font-style:normal;}
                    .info span.right.disabled{background:#fafafa;border:1px solid #dadada;cursor:text!important;padding:4px 6px;}
                    .info span.right.disabled a{cursor:text!important;color:#aaa;}
                    .info span.right.disabled:hover{border:1px solid #dadada!important;}
					@media only screen and (max-width: 1000px) {
						.scriptolutionshop .whiteBox.inside .block.inside {
						  width: 100% !important;
						    border-right: 0px !important;
						}
					}
                    </style>
                    {/literal}
                    
                               
                    <div style="padding-bottom: 15px;clear: both;"></div>
                    
                    <div class="whiteBox inside">
						<div style="font-size: 18px; color: #208305;">{$lang207} {if $scriptolution_cur_pos eq "1"}{$overall}{$lang197}{else}{$lang197}{$overall}{/if} (valor apenas para referência)</b></div>
					</div>
                    
                    <div style="padding-bottom: 15px;clear: both;"></div>
                    
                    
					<div class="db-main-table">
						<table>
							<thead>
								<tr>
									<td style="text-align:left;">{$lang110}</td>
									<td>{$lang140}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
									<td>{$lang389}</td>
								</tr>
							</thead>
							<tbody>
                            {if $p|@count eq "0"}
                            <tr>
                                <td colspan="5">
                                {$lang209}
                                </td>
                            </tr>
                            {else}
                            	{section name=i loop=$p}
                                {if $p[i].IID GT "0"}
                                {insert name=get_ctp value=a assign=myctp IID=$p[i].IID}
                                {insert name=get_yprice value=a assign=yprice p=$p[i].price c=$myctp}
                                {else}
                                {insert name=get_yprice value=a assign=yprice p=$p[i].price c=$p[i].ctp}
                                {/if}
                                {insert name=get_gtitle value=a assign=gtitle oid=$p[i].OID}
								<tr>
									<td class="status-star">
                                    	{insert name=get_time_to_days_ago value=a time=$p[i].time}
									</td>
                                    <td>
                                    	{if $gtitle eq ""}#{$p[i].OID}{else}<a href="{$baseurl}/track?id={$p[i].OID}">#{$p[i].OID}</a>{/if}
                                    </td>
									<td class="ellipsis-wrap">
										<div class="ellipsis"> 
                                        	{if $gtitle eq ""}{$lang384}{else}{$gtitle|stripslashes}{/if}
										</div>
									</td>
									{if $p[i].status eq "5"}
                                        {insert name=get_days_withdraw value=a assign=wd t=$p[i].cltime}
                                        {if $wd GT "0"}
                                        <td class="status clearing &nbsp;<u>{$wd}</u>" title="{$wd} {$lang391}"><div>{$lang392} &nbsp;<u>{$wd}</u></div></td>
                                        <td class="gross last" width="5px"><div>{if $scriptolution_cur_pos eq "1"}{$yprice}{$lang197}{else}{$lang197}{$yprice}{/if}</div></td>
                                        {else}
                                            {if $p[i].wd eq "1"}
                                            <td class="status withdrawn" title="{$lang397}"><div>{$lang397}</div></td>
                                            {else}
                                            <td class="status cleared" title="{$lang393}"><div>{$lang393}</div></td>
                                            {/if}
                                            <td class="gross last" width="5px"><div>{if $scriptolution_cur_pos eq "1"}{$yprice}{$lang197}{else}{$lang197}{$yprice}{/if}</div></td>
                                        {/if}
                                    {elseif $p[i].status eq "2" OR $p[i].status eq "3" OR $p[i].status eq "7"}
                                    <td class="status cancelled" title="{$lang390}"><div>{$lang203}</div></td>
                                    <td class="gross last" width="5px"><div>{if $scriptolution_cur_pos eq "1"}0{$lang197}{else}{$lang197}0{/if}</div></td>
                                    {elseif $p[i].status eq "4"}
                                    <td class="status completed" title="{$lang140}"><div>{$lang201}</div></td>
                                    <td class="gross last" width="5px"><div>{if $scriptolution_cur_pos eq "1"}{$yprice}{$lang197}{else}{$lang197}{$yprice}{/if}</div></td>
                                    {else}
                                    <td class="status withdrawal" title="{$lang362}"><div>{$lang362}</div></td>
                                    <td class="gross last" width="5px"><div>{if $scriptolution_cur_pos eq "1"}{$yprice}{$lang197}{else}{$lang197}{$yprice}{/if}</div></td>
                                    {/if}                         
								</tr>
                                {/section}
							{/if}
							</tbody>
						</table>
					</div>
					<div class="clear"></div>				
				</div>
			</div>
			<div class="right-side">
				<div class="sidebarBlock">
					<h3>{$lang577|upper}</h3>
					<ul>
						<li><a href="{$baseurl}/new" class="greenBtn"><span>{$lang55}</span></a></li>
					</ul>
				</div>
				<div class="sidebarBlock">
					<h2>{$lang33|upper}</h2>
					<ul>
						<li><a href="{$baseurl}/manage_gigs">{$lang153}</a></li>
                        <li><a href="{$baseurl}/manage_orders">{$lang154}</a></li>
					</ul>
				</div>
				<div class="sidebarBlock">
					<h3>{$lang578|upper}</h3>
					<ul>
						<li><a href="{$baseurl}/balance?tab=sales">{$lang155}</a></li>
                        <li><a href="{$baseurl}/purchases">{$lang461}</a></li>
					</ul>
				</div>
                <div class="sidebarBlock noBorder">
					<h3>{$lang496|upper}</h3>
					<ul>
						<li><a href="{$baseurl}/mysuggestions">{$lang511}</a></li>
                        <li><a href="{$baseurl}/suggested">{$lang579}</a></li>
					</ul>
				</div>				
			</div>
		</div>    
	</div>
</div>
                     