<div class="bodybg scriptolutionpaddingtop15">
	<div class="whitebody scriptolutionpaddingtop30 scriptolutionwidth842">
		<div class="inner-wrapper scriptolutionwidth842">
			<div class="left-side scriptolutionwidth842">
				<div class="whiteBox twoHalfs noborder scriptolutionwidth800">

                    <h1>{insert name=get_static value=var sel=title ID=5}</h1>
					<!-- {insert name=get_static value=var sel=value ID=5} -->
                    {php}
                        $path = $_SERVER['DOCUMENT_ROOT'];
                        $path .= "/widgets/contato/contato.php";
                        include_once($path);
                    {/php}
                           
					<div class="clear"></div>
				</div>
			</div>			
			<div class="clear"></div>
		</div>   
	</div>
</div>
<div id="scriptolutionnobottom">
    <div class="centerwrap footertop">
        <div class="footerbg scriptolutionfooter842"></div>
    </div>
</div>