	<link rel="stylesheet" href="{$baseurl}/colorbox/colorbox.css" />
	<script src="{$baseurl}/colorbox/jquery.colorbox.js"></script>
    {literal}
    <script>
			$(".inline").colorbox({inline:true, width:"400px"});
	</script>
    {/literal}