		{if $fiverrscript_dotcom_home_featcats eq "1"}
		<link href="{$baseurl}/css/scriptolution_feat_cats.css" media="screen" rel="stylesheet" type="text/css" />
        <div class="scriptolutionsmain1" style="top:-20px;">        	
            <div class="scriptolution-h-header">{$lang551}</div>
            <div class="scriptolution-s-small">{$lang552}</div>
        </div>
        <div class="scriptolutionsmain2" style="top:-20px;"> 
            <div style="clear:both;"></div>
            {insert name=get_scriptolution_featcats value=a assign=scriptolutionfeatcs}
        	{section name=i loop=$scriptolutionfeatcs}
            <div class="scriptolutionsblock {if $smarty.section.i.iteration % 3 == 0}last{/if}">
                <div class="songperson">
                    <a href="{$baseurl}/categories/{$scriptolutionfeatcs[i].seo|stripslashes}?s=p"><img {if $scriptolutionfeatcs[i].scriptolution_catimage eq "scriptolution_default_category.jpg"}src="{$imageurl}/scriptolution_default_category.jpg"{else}src="{$scriptolutioncaturl}/{$scriptolutionfeatcs[i].scriptolution_catimage}?{$smarty.now}"{/if} alt="{$scriptolutionfeatcs[i].name|stripslashes}" width="285" height="145" /></a>
                </div>
                <p>
                    <a href="{$baseurl}/categories/{$scriptolutionfeatcs[i].seo|stripslashes}?s=p">{$scriptolutionfeatcs[i].name|stripslashes|mb_truncate:60:"...":'utf-8'}</a>                    
                </p>
                <a href="{$baseurl}/categories/{$scriptolutionfeatcs[i].seo|stripslashes}?s=p">
                <ul class="scriptolution-t-tags" style="padding-top:5px;">
                	{if $scriptolutionfeatcs[i].scriptolution_cattag1 ne ""}<li>{$scriptolutionfeatcs[i].scriptolution_cattag1|stripslashes}</li>{/if}
                    {if $scriptolutionfeatcs[i].scriptolution_cattag2 ne ""}<li>{$scriptolutionfeatcs[i].scriptolution_cattag2|stripslashes}</li>{/if}
                    {if $scriptolutionfeatcs[i].scriptolution_cattag3 ne ""}<li>{$scriptolutionfeatcs[i].scriptolution_cattag3|stripslashes}</li>{/if}
                </ul>
                </a>
            </div>
            {/section}
        </div>
        
        <div align="center">
<a href="https://www.facebook.com/jetbees" target="_blank"> <img src="https://www.jetbees.com/blog/wp-content/uploads/2016/01/jetbees_facebook.svg"> </a> <a href="https://twitter.com/JetBees_" target="_blank"> <img src="https://www.jetbees.com/blog/wp-content/uploads/2016/01/jetbees_twitter.svg"> </a> <a href="https://plus.google.com/+Jetbees/" target="_blank"> <img src="https://www.jetbees.com/images/jetbees_gplus.png"> </a>
 </div>
        
        <div style="clear:both;"></div>
		{/if}